@charset 'utf-8';

body {
    background-color: #F9F9F9;
    font-family: "微软雅黑", arial, sans-serif;
}

* {
    box-sizing: border-box;
}


/*元素内外边距重置*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
img {
    margin: 0;
    padding: 0;
}


/*列表样式重置*/

ul,
ol,
dl,
li {
    list-style: none;
}


/*去除图片边框*/

img {
    border: none;
}


/*设置浮动*/

.fl {
    float: left;
}

.fls {
    float: right;
}

.fr {
    float: right;
    padding-top: 10px;
    padding-right: 5px;
}

.xuxian {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-image: linear-gradient(to right,
            #ccc 0%,
            #ccc 50%,
            transparent 50%);
    background-size: 8px 1px;
    background-repeat: repeat-x;
}


/*清除浮动*/

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: block;
    content: ' ';
    line-height: 0;
}

.clearfix:after {
    clear: both;
}


/*链接样式设置*/

a {
    text-decoration: none;
    color: #9d2146;
    cursor: pointer;
}

.pl5 {
    padding-left: 5px;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar,
ul::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

div::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}